In [1]:
import pandas as pd
from textblob import TextBlob

In [4]:
from google.colab import drive
drive.mount("/content/grive")

Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

# Obtain the data set from google drive

In [5]:
df = pd.read_csv("/content/grive/MyDrive/abcnews-date-text.csv")

In [6]:
df.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [8]:
df.shape

(1226258, 2)

# Label the Dataset using the textblob

In [9]:
def getPolarity(text):
   return TextBlob(text).sentiment.polarity
  
def getSubjectivity(text):
   return TextBlob(text).sentiment.subjectivity

def getAnalysis(score):
  if score < 0:
    return 'Negative'
  elif score == 0:
    return 'Neutral'
  else:
    return 'Positive'

In [10]:
df['Polarity'] = df['headline_text'].apply(getPolarity)
df['Subjectivity'] = df['headline_text'].apply(getSubjectivity)
df['Analysis'] = df['Polarity'].apply(getAnalysis)

In [11]:
df.head()

   publish_date  ...  Analysis
0      20030219  ...   Neutral
1      20030219  ...  Positive
2      20030219  ...   Neutral
3      20030219  ...   Neutral
4      20030219  ...   Neutral

[5 rows x 5 columns]

# Store the labeled data in new csv file

In [12]:
df.to_csv("/content/grive/MyDrive/labeled_data.csv")